<a href="https://colab.research.google.com/github/SushanthikPoreddy/data690_sushanthik/blob/main/assignment_05/assignment_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

## Upload the 2017-2018 school year file "MERGED2017_18_PP.csv" to Colab/Deepnote or any Cloud environment of your choice (you can use your local environment too) and create a Jupyter notebook to explore the dataset:

In [8]:
from google.colab import files
uploaded = files.upload()

Saving MERGED2017_18_PP.csv to MERGED2017_18_PP.csv

In [132]:
import io
df = pd.read_csv(io.BytesIO(uploaded['MERGED2017_18_PP.csv']))
print(df)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1729) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
0       100654   100200  ...                       NaN            NaN
1       100663   105200  ...                       NaN            NaN
2       100690  2503400  ...                       NaN            NaN
3       100706   105500  ...                       NaN            NaN
4       100724   100500  ...                       NaN            NaN
...        ...      ...  ...                       ...            ...
7107  48312404   108163  ...                       NaN            NaN
7108  48387801  4223701  ...                       NaN            NaN
7109  48400201  4228101  ...                       NaN            NaN
7110  48778201  4221501  ...                       NaN            NaN
7111  49005401  4182601  ...                       NaN            NaN

[7112 rows x 1986 columns]

## how many colleges or rows and columns?

In [11]:
print("Number of Rows or Colleges: ", df.shape[0])
print("Number of Columns or Variables: ", df.shape[1])

Number of Rows or Colleges:  7112
Number of Columns or Variables:  1986

## Look at the first 5 colleges

In [133]:
df.head(5)

   UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
0  100654   100200  ...                       NaN            NaN
1  100663   105200  ...                       NaN            NaN
2  100690  2503400  ...                       NaN            NaN
3  100706   105500  ...                       NaN            NaN
4  100724   100500  ...                       NaN            NaN

[5 rows x 1986 columns]

## look at the last 5 colleges

In [13]:
print(df.tail(5))

        UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
7107  48312404   108163  ...                       NaN            NaN
7108  48387801  4223701  ...                       NaN            NaN
7109  48400201  4228101  ...                       NaN            NaN
7110  48778201  4221501  ...                       NaN            NaN
7111  49005401  4182601  ...                       NaN            NaN

[5 rows x 1986 columns]

## Look at a random sample of 5 colleges

In [14]:
print(df.sample(5))

      UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
519   126049  1085400  ...                       NaN            NaN
634   130837  2125200  ...                       NaN            NaN
3152  216223  2206300  ...                       NaN            NaN
5647  458034  4138500  ...                       NaN            NaN
4702  431169  2218200  ...                       NaN            NaN

[5 rows x 1986 columns]

## Since there are too many variables to explore, many of which are not interesting. Create a smaller data frame with the following 9 variables:

In [19]:
df2 = pd.DataFrame()

In [23]:
df2 = df.filter(['UNITID','INSTNM','CITY','STABBR','ZIP','ADM_RATE','UGDS','TUITIONFEE_IN','MN_EARN_WNE_P10'])
print(df2)

        UNITID  ... MN_EARN_WNE_P10
0       100654  ...             NaN
1       100663  ...             NaN
2       100690  ...             NaN
3       100706  ...             NaN
4       100724  ...             NaN
...        ...  ...             ...
7107  48312404  ...             NaN
7108  48387801  ...             NaN
7109  48400201  ...             NaN
7110  48778201  ...             NaN
7111  49005401  ...             NaN

[7112 rows x 9 columns]

# Definitions
## 1.UNITID:
- Unit ID for institution and this will be unique for each and every university.

## 2.INSTNM:
- It refers to the name of the Institution.

## 3.CITY:
- This attribute refers to the city where the university is located.

## 4.STABBR:
- This refers to the State postcode of the university.

## 5.ZIP:
- This refers to the ZIP Code of the location the university located.
 
## 6.ADM_RATE:
- This contains the Admission rate of the university.

## 7.UGDS
- This contains Enrollment of undergraduate certificate/degree-seeking  students in the university.

## 8.TUITIONFEE_IN
- It defines the In-state tuition and fees of the university.

## 9.MN_EARN_WNE_P10:
- This holds the Mean earnings of students working and not enrolled 10 years after entry from the university.

## Explore the smaller data frame

- 1.Look at the first 10 colleges

In [24]:
print(df2.head(10))

   UNITID                               INSTNM  ... TUITIONFEE_IN MN_EARN_WNE_P10
0  100654             Alabama A & M University  ...        9857.0             NaN
1  100663  University of Alabama at Birmingham  ...        8328.0             NaN
2  100690                   Amridge University  ...        6900.0             NaN
3  100706  University of Alabama in Huntsville  ...       10280.0             NaN
4  100724             Alabama State University  ...       11068.0             NaN
5  100751            The University of Alabama  ...       10780.0             NaN
6  100760    Central Alabama Community College  ...        4440.0             NaN
7  100812              Athens State University  ...           NaN             NaN
8  100830      Auburn University at Montgomery  ...        8020.0             NaN
9  100858                    Auburn University  ...       10968.0             NaN

[10 rows x 9 columns]

- 2.look at the last 10 colleges

In [25]:
print(df2.tail(10))

        UNITID  ... MN_EARN_WNE_P10
7102  48154401  ...             NaN
7103  48305401  ...             NaN
7104  48312401  ...             NaN
7105  48312402  ...             NaN
7106  48312403  ...             NaN
7107  48312404  ...             NaN
7108  48387801  ...             NaN
7109  48400201  ...             NaN
7110  48778201  ...             NaN
7111  49005401  ...             NaN

[10 rows x 9 columns]

- 3.Look at a random sample of 10 colleges

In [60]:
print(df2.sample(10))

      UNITID  ... MN_EARN_WNE_P10
4142  366395  ...             NaN
3271  219125  ...             NaN
564   127778  ...             NaN
419   120883  ...             NaN
4344  384254  ...             NaN
3488  227003  ...             NaN
4037  248527  ...             NaN
1333  157465  ...             NaN
5253  448983  ...             NaN
386   118967  ...             NaN

[10 rows x 9 columns]

## Find and display UMBC, Univ. of Maryland College Park, Loyola College Maryland, Johns Hopskins

In [129]:
df3 = pd.DataFrame()
x = df2.loc[df2["INSTNM"].str.contains('University of Maryland-Baltimore County')]
y = df2.loc[df2["INSTNM"].str.contains('University of Maryland-College Park')]
z = df2.loc[df2["INSTNM"].str.contains('Loyola University Maryland')]
w = df2.loc[df2["INSTNM"].str.contains('Johns Hopkins University')]
a = df3.append(x)
b = a.append(y)
c = b.append(z)
df3 = c.append(w)
print(df3)

      UNITID  ... MN_EARN_WNE_P10
1478  163268  ...             NaN
1479  163286  ...             NaN
1475  163046  ...             NaN
1473  162928  ...             NaN

[4 rows x 9 columns]

## Calculate the min, max, and average in-state tution of the above four institutions.

In [93]:
min_tution = df3['TUITIONFEE_IN'].min()
min_tution

10399.0

In [94]:
max_tution = df3['TUITIONFEE_IN'].max()
max_tution

52170.0

In [99]:
avg_tution = df3['TUITIONFEE_IN'].mean()
avg_tution

30411.75

## Filter the smaller dataset further to only keep colleges from Maryland,Virgina, Washington DC, Delaware, and Pennsylvinia.

In [130]:
df4 = pd.DataFrame()
x = df2.loc[df2["INSTNM"].str.contains('Maryland')]
y = df2.loc[df2["INSTNM"].str.contains('Washington DC')]
z = df2.loc[df2["INSTNM"].str.contains('Delaware')]
w = df2.loc[df2["INSTNM"].str.contains('Pennsylvinia')]
a = df4.append(x)
b = a.append(y)
c = b.append(z)
df4 = c.append(w)
print(df4)

        UNITID  ... MN_EARN_WNE_P10
1447    161688  ...             NaN
1457    162122  ...             NaN
1472    162830  ...             NaN
1475    163046  ...             NaN
1476    163204  ...             NaN
1477    163259  ...             NaN
1478    163268  ...             NaN
1479    163286  ...             NaN
1480    163295  ...             NaN
1481    163338  ...             NaN
1489    163578  ...             NaN
1493    163815  ...             NaN
1495    163912  ...             NaN
1499    164085  ...             NaN
4677    430184  ...             NaN
4770    434973  ...             NaN
4348    384412  ...             NaN
5328    450483  ...             NaN
5739    459745  ...             NaN
6717  12697901  ...             NaN
636     130907  ...             NaN
637     130934  ...             NaN
638     130943  ...             NaN
2980    211927  ...             NaN
2981    211981  ...             NaN
4542    418010  ...             NaN
4695    430971  ...             NaN
4729    432524  ...             NaN
5275    449472  ...             NaN
5322    450298  ...             NaN
5718    459301  ...             NaN
6725  13090701  ...             NaN
6726  13090702  ...             NaN
7020  44378401  ...             NaN
7084  47503303  ...             NaN

[35 rows x 9 columns]

## Save the filtered dataset to a new file named "Five_States_Colleges.csv" for future analysis

In [128]:
df4.to_csv('Five_States_Colleges.csv')